img {
	max-width: 100%;
}
body {
	font-size: 15px;
}
* {
	transition-property: background-color, border-color, box-shadow, color, opacity;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}
.container {
	max-width: 610px;
	margin: 0 auto;
}
.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
	box-sizing: border-box;
}
.card {
	position: relative;
	width: 268px;
	background: ;
	color: ;
	text-decoration: none;

	border-radius: 4px;
}
@media (max-width: 600px) {
	.card {
		width: 100%;
	}
}
@media (min-width: 700px) {
	.card {
		max-width: 320px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
}
.card span {
	display: block;
}
.card .card-summary {
	padding: 5% 5% 3% 5%;
}
.card .card-header {
	position: relative;
	height: 165px;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(255,255,255,0.15);
	background-blend-mode: overlay;
	border-radius: 4px 4px 0 0;
	border: 1px solid #000;
}
.card .card-header:hover, .card .card-header:focus {
	background-color: rgba(255,255,255,0);
}
.card .card-title {
	padding: 15px 0;
}
.card .card-title h3 {
	font-size: 1.2em;
	line-height: 1.2;
	
	margin: 0;
}