main{
	box-sizing: content-box;
  padding: auto;
}



.content {
	background: #000000;
	color:white;
	min-height:182px;
	width:750px;
	float: left;
	font:13px Verdana, sans-serif;
	text-align: justify;
	
}

nav {
	padding-left:5px;
	background: #000000;
	color:white;
	float:left;
	width:205px;
	height:182px;
	font:18px Arial;
	line-height:25px;
}
nav p {
	width:196px;
	margin: 0;
	padding: 5px;
}
footer {
    background: #103898; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    text-align:center;
    clear:both;
    width:950px;
   }